@font-face {
	font-family: "arrows";
	src: url("../fonts/arrows/arrows.eot");
  src: url("../fonts/arrows/arrows.eot#iefix") format("embedded-opentype"),
       url("../fonts/arrows/arrows.ttf") format("truetype"),
       url("../fonts/arrows/arrows.woff") format("woff"),
       url("../fonts/arrows/arrows.svg#arrows") format("svg");
	font-weight: normal;
	font-style: normal;
}

i.arr {
	display: inline-block;
	font-family: "arrows"!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: middle;
	margin-top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.arr-arrow-down-left:before {
	content: "\E001";
}

.arr-arrow-down-right:before {
	content: "\E002";
}

.arr-arrow-down:before {
	content: "\E003";
}

.arr-arrow-left:before {
	content: "\E004";
}

.arr-arrow-right:before {
	content: "\E005";
}

.arr-arrow-up-left:before {
	content: "\E006";
}

.arr-arrow-up-right:before {
	content: "\E007";
}

.arr-arrow-up:before {
	content: "\E008";
}

.arr-block-arrow-left:before {
	content: "\E009";
}

.arr-block-down:before {
	content: "\E00A";
}

.arr-block-right:before {
	content: "\E00B";
}

.arr-block-up:before {
	content: "\E00C";
}

.arr-blocks:before {
	content: "\E00D";
}

.arr-bold-arrow-down:before {
	content: "\E00E";
}

.arr-bold-arrow-left:before {
	content: "\E00F";
}

.arr-bold-arrow-right:before {
	content: "\E010";
}

.arr-bold-arrow-up:before {
	content: "\E011";
}

.arr-bold-down:before {
	content: "\E012";
}

.arr-bold-left:before {
	content: "\E013";
}

.arr-bold-right:before {
	content: "\E014";
}

.arr-bold-up:before {
	content: "\E015";
}

.arr-box-tick:before {
	content: "\E016";
}

.arr-box-times:before {
	content: "\E017";
}

.arr-box-triangle-down:before {
	content: "\E018";
}

.arr-box-triangle-left:before {
	content: "\E019";
}

.arr-box-triangle-right:before {
	content: "\E01A";
}

.arr-box-triangle-up:before {
	content: "\E01B";
}

.arr-bullet-list:before {
	content: "\E01C";
}

.arr-cicle-times:before {
	content: "\E01D";
}

.arr-circle-arrow-down:before {
	content: "\E01E";
}

.arr-circle-arrow-left:before {
	content: "\E01F";
}

.arr-circle-arrow-right:before {
	content: "\E020";
}

.arr-circle-arrow-up:before {
	content: "\E021";
}

.arr-circle-down:before {
	content: "\E022";
}

.arr-circle-left:before {
	content: "\E023";
}

.arr-circle-right:before {
	content: "\E024";
}

.arr-circle-tick:before {
	content: "\E025";
}

.arr-circle-triangle-down:before {
	content: "\E026";
}

.arr-circle-triangle-right:before {
	content: "\E027";
}

.arr-circle-triangle-up:before {
	content: "\E028";
}

.arr-circle-up:before {
	content: "\E029";
}

.arr-compress:before {
	content: "\E02A";
}

.arr-control-first:before {
	content: "\E02B";
}

.arr-control-last:before {
	content: "\E02C";
}

.arr-corned-down-left:before {
	content: "\E02D";
}

.arr-corned-down-right:before {
	content: "\E02E";
}

.arr-corned-up-left:before {
	content: "\E02F";
}

.arr-corned-up-roght:before {
	content: "\E030";
}

.arr-curved-arrow-down:before {
	content: "\E031";
}

.arr-curved-arrow-left:before {
	content: "\E032";
}

.arr-curved-arrow-right:before {
	content: "\E033";
}

.arr-curved-arrow-up:before {
	content: "\E034";
}

.arr-dot-arrow-down:before {
	content: "\E035";
}

.arr-dot-arrow-left:before {
	content: "\E036";
}

.arr-dot-arrow-right:before {
	content: "\E037";
}

.arr-dot-arrow-up:before {
	content: "\E038";
}

.arr-double-arrow:before {
	content: "\E039";
}

.arr-double-chevron:before {
	content: "\E03A";
}

.arr-double-down:before {
	content: "\E03B";
}

.arr-double-left:before {
	content: "\E03C";
}

.arr-double-right:before {
	content: "\E03D";
}

.arr-double-tick:before {
	content: "\E03E";
}

.arr-double-triangle-left:before {
	content: "\E03F";
}

.arr-double-triangle-right:before {
	content: "\E040";
}

.arr-double-up:before {
	content: "\E041";
}

.arr-down:before {
	content: "\E042";
}

.arr-download:before {
	content: "\E043";
}

.arr-expand:before {
	content: "\E044";
}

.arr-export:before {
	content: "\E045";
}

.arr-fullscreen:before {
	content: "\E046";
}

.arr-grid:before {
	content: "\E047";
}

.arr-indian-arrow-down:before {
	content: "\E048";
}

.arr-indian-arrow-left:before {
	content: "\E049";
}

.arr-indian-arrow-right:before {
	content: "\E04A";
}

.arr-indian-arrow-up:before {
	content: "\E04B";
}

.arr-ipsilis-h:before {
	content: "\E04C";
}

.arr-ipsilis-v:before {
	content: "\E04D";
}

.arr-left:before {
	content: "\E04E";
}

.arr-list-2:before {
	content: "\E04F";
}

.arr-list:before {
	content: "\E050";
}

.arr-login:before {
	content: "\E051";
}

.arr-logout:before {
	content: "\E052";
}

.arr-previous:before {
	content: "\E053";
}

.arr-repeat-1:before {
	content: "\E054";
}

.arr-repeat:before {
	content: "\E055";
}

.arr-resize-h:before {
	content: "\E056";
}

.arr-resize-v:before {
	content: "\E057";
}

.arr-right:before {
	content: "\E058";
}

.arr-round-left:before {
	content: "\E059";
}

.arr-round-right:before {
	content: "\E05A";
}

.arr-settings:before {
	content: "\E05B";
}

.arr-shuffle:before {
	content: "\E05C";
}

.arr-sort:before {
	content: "\E05D";
}

.arr-tick:before {
	content: "\E05E";
}

.arr-times:before {
	content: "\E05F";
}

.arr-tri-arrow-down:before {
	content: "\E060";
}

.arr-tri-arrow-left:before {
	content: "\E061";
}

.arr-tri-arrow-right:before {
	content: "\E062";
}

.arr-tri-arrow-up:before {
	content: "\E063";
}

.arr-tri-arrows-up:before {
	content: "\E064";
}

.arr-triangle-arrow-left:before {
	content: "\E065";
}

.arr-triangle-down:before {
	content: "\E066";
}

.arr-triangle-right:before {
	content: "\E067";
}

.arr-triangle-up:before {
	content: "\E068";
}

.arr-up:before {
	content: "\E069";
}

.arr-upload:before {
	content: "\E06A";
}
