@font-face {
	font-family: "cake";
	src: url("../fonts/cake/cake.eot");
  src: url("../fonts/cake/cake.eot#iefix") format("embedded-opentype"),
       url("../fonts/cake/cake.ttf") format("truetype"),
       url("../fonts/cake/cake.woff") format("woff"),
       url("../fonts/cake/cake.svg#cake") format("svg");
	font-weight: normal;
	font-style: normal;
}

i.cai {
	display: inline-block;
	font-family: "cake"!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: middle;
	margin-top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.cai-balloons-fill:before {
	content: "\E001";
}

.cai-balloons:before {
	content: "\E002";
}

.cai-beetle-fill:before {
	content: "\E003";
}

.cai-beetle:before {
	content: "\E004";
}

.cai-binoculars-fill:before {
	content: "\E005";
}

.cai-binoculars:before {
	content: "\E006";
}

.cai-cake:before {
	content: "\E007";
}

.cai-camel-fill:before {
	content: "\E008";
}

.cai-camel:before {
	content: "\E009";
}

.cai-card:before {
	content: "\E00A";
}

.cai-carrot:before {
	content: "\E00B";
}

.cai-cherries:before {
	content: "\E00C";
}

.cai-circus-fill:before {
	content: "\E00D";
}

.cai-circus:before {
	content: "\E00E";
}

.cai-crocodile-fill:before {
	content: "\E00F";
}

.cai-crocodile:before {
	content: "\E010";
}

.cai-cupcake-fill:before {
	content: "\E011";
}

.cai-cupcake:before {
	content: "\E012";
}

.cai-donut:before {
	content: "\E013";
}

.cai-down:before {
	content: "\E014";
}

.cai-drum-fill:before {
	content: "\E015";
}

.cai-drum:before {
	content: "\E016";
}

.cai-fish:before {
	content: "\E017";
}

.cai-flowers-fill:before {
	content: "\E018";
}

.cai-flowers:before {
	content: "\E019";
}

.cai-food-truck-fill:before {
	content: "\E01A";
}

.cai-food-truck:before {
	content: "\E01B";
}

.cai-gift:before {
	content: "\E01C";
}

.cai-guitar-fill:before {
	content: "\E01D";
}

.cai-guitar:before {
	content: "\E01E";
}

.cai-hamburger:before {
	content: "\E01F";
}

.cai-hearth:before {
	content: "\E020";
}

.cai-hotdog:before {
	content: "\E021";
}

.cai-juggle-fill:before {
	content: "\E022";
}

.cai-juggle:before {
	content: "\E023";
}

.cai-left:before {
	content: "\E024";
}

.cai-maracas:before {
	content: "\E025";
}

.cai-medal:before {
	content: "\E026";
}

.cai-menu:before {
	content: "\E027";
}

.cai-mic-fill:before {
	content: "\E028";
}

.cai-mic:before {
	content: "\E029";
}

.cai-mix-table:before {
	content: "\E02A";
}

.cai-no-cat:before {
	content: "\E02B";
}

.cai-no-dog:before {
	content: "\E02C";
}

.cai-no-fur:before {
	content: "\E02D";
}

.cai-no-glucose:before {
	content: "\E02E";
}

.cai-no-sugar:before {
	content: "\E02F";
}

.cai-no-touch:before {
	content: "\E030";
}

.cai-no:before {
	content: "\E031";
}

.cai-noodles:before {
	content: "\E032";
}

.cai-parachute:before {
	content: "\E033";
}

.cai-pin:before {
	content: "\E034";
}

.cai-pizza-fill:before {
	content: "\E035";
}

.cai-pizza:before {
	content: "\E036";
}

.cai-plane-fill:before {
	content: "\E037";
}

.cai-plane:before {
	content: "\E038";
}

.cai-powered-by-stripe:before {
	content: "\E039";
}

.cai-puppy-fill:before {
	content: "\E03A";
}

.cai-puppy:before {
	content: "\E03B";
}

.cai-radio-fill:before {
	content: "\E03C";
}

.cai-radio:before {
	content: "\E03D";
}

.cai-record-player:before {
	content: "\E03E";
}

.cai-right:before {
	content: "\E03F";
}

.cai-rocket:before {
	content: "\E040";
}

.cai-sax:before {
	content: "\E041";
}

.cai-serving-fill:before {
	content: "\E042";
}

.cai-serving:before {
	content: "\E043";
}

.cai-star-filled:before {
	content: "\E044";
}

.cai-star:before {
	content: "\E045";
}

.cai-steak:before {
	content: "\E046";
}

.cai-stones-fill:before {
	content: "\E047";
}

.cai-stones:before {
	content: "\E048";
}

.cai-stripe:before {
	content: "\E049";
}

.cai-sushi:before {
	content: "\E04A";
}

.cai-theatre-fill:before {
	content: "\E04B";
}

.cai-theatre:before {
	content: "\E04C";
}

.cai-ticket-fill:before {
	content: "\E04D";
}

.cai-ticket:before {
	content: "\E04E";
}

.cai-trash:before {
	content: "\E04F";
}

.cai-trumpet:before {
	content: "\E050";
}

.cai-unicycle-fill:before {
	content: "\E051";
}

.cai-unicycle:before {
	content: "\E052";
}

.cai-up:before {
	content: "\E053";
}

.cai-user:before {
	content: "\E054";
}

.cai-wrap:before {
	content: "\E055";
}
