@font-face {
	font-family: "eventob";
	src: url("../fonts/eventob/eventob.eot");
  src: url("../fonts/eventob/eventob.eot#iefix") format("embedded-opentype"),
       url("../fonts/eventob/eventob.ttf") format("truetype"),
       url("../fonts/eventob/eventob.woff") format("woff"),
       url("../fonts/eventob/eventob.svg#eventob") format("svg");
	font-weight: normal;
	font-style: normal;
}

i.evi {
	display: inline-block;
	font-family: "eventob"!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: middle;
	margin-top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.evi-align-center:before {
	content: "\E001";
}

.evi-align-left:before {
	content: "\E002";
}

.evi-align-right:before {
	content: "\E003";
}

.evi-announcement-o:before {
	content: "\E004";
}

.evi-announcement:before {
	content: "\E005";
}

.evi-arrow-down:before {
	content: "\E006";
}

.evi-arrow-left:before {
	content: "\E007";
}

.evi-arrow-long-down:before {
	content: "\E008";
}

.evi-arrow-long-left:before {
	content: "\E009";
}

.evi-arrow-long-right:before {
	content: "\E00A";
}

.evi-arrow-long-up:before {
	content: "\E00B";
}

.evi-arrow-right:before {
	content: "\E00C";
}

.evi-arrow-up:before {
	content: "\E00D";
}

.evi-arrows-cross:before {
	content: "\E00E";
}

.evi-arrows-horizontal:before {
	content: "\E00F";
}

.evi-arrows-vertical:before {
	content: "\E010";
}

.evi-asterisk-fat:before {
	content: "\E011";
}

.evi-asterisk:before {
	content: "\E012";
}

.evi-backward:before {
	content: "\E013";
}

.evi-badge-info-o:before {
	content: "\E014";
}

.evi-badge-info:before {
	content: "\E015";
}

.evi-badge-user-details-o:before {
	content: "\E016";
}

.evi-badge-user-details:before {
	content: "\E017";
}

.evi-badge-user-o:before {
	content: "\E018";
}

.evi-badge-user:before {
	content: "\E019";
}

.evi-ban:before {
	content: "\E01A";
}

.evi-banner-o:before {
	content: "\E01B";
}

.evi-banner:before {
	content: "\E01C";
}

.evi-beginning:before {
	content: "\E01D";
}

.evi-bell-o:before {
	content: "\E01E";
}

.evi-bell:before {
	content: "\E01F";
}

.evi-bold:before {
	content: "\E020";
}

.evi-bolt-o:before {
	content: "\E021";
}

.evi-bolt:before {
	content: "\E022";
}

.evi-bookmark-o:before {
	content: "\E023";
}

.evi-bookmark:before {
	content: "\E024";
}

.evi-books-o:before {
	content: "\E025";
}

.evi-books:before {
	content: "\E026";
}

.evi-bottom:before {
	content: "\E027";
}

.evi-bouy-o:before {
	content: "\E028";
}

.evi-bouy:before {
	content: "\E029";
}

.evi-briefcase-o:before {
	content: "\E02A";
}

.evi-briefcase:before {
	content: "\E02B";
}

.evi-browser-expand-o:before {
	content: "\E02C";
}

.evi-browser-expand:before {
	content: "\E02D";
}

.evi-browser-new-o:before {
	content: "\E02E";
}

.evi-browser-new:before {
	content: "\E02F";
}

.evi-browser-o:before {
	content: "\E030";
}

.evi-browser:before {
	content: "\E031";
}

.evi-buildings-o:before {
	content: "\E032";
}

.evi-buildings-star-o:before {
	content: "\E033";
}

.evi-buildings-star:before {
	content: "\E034";
}

.evi-buildings:before {
	content: "\E035";
}

.evi-bulb-o:before {
	content: "\E036";
}

.evi-bulb:before {
	content: "\E037";
}

.evi-calculator-o:before {
	content: "\E038";
}

.evi-calculator-ticket-o:before {
	content: "\E039";
}

.evi-calculator-ticket:before {
	content: "\E03A";
}

.evi-calculator:before {
	content: "\E03B";
}

.evi-calendar-beginning-o:before {
	content: "\E03C";
}

.evi-calendar-beginning:before {
	content: "\E03D";
}

.evi-calendar-blank-o:before {
	content: "\E03E";
}

.evi-calendar-blank:before {
	content: "\E03F";
}

.evi-calendar-day-mini-o:before {
	content: "\E040";
}

.evi-calendar-day-mini:before {
	content: "\E041";
}

.evi-calendar-day-o:before {
	content: "\E042";
}

.evi-calendar-day:before {
	content: "\E043";
}

.evi-calendar-end-o:before {
	content: "\E044";
}

.evi-calendar-end:before {
	content: "\E045";
}

.evi-calendar-flag-o:before {
	content: "\E046";
}

.evi-calendar-flag:before {
	content: "\E047";
}

.evi-calendar-item-o:before {
	content: "\E048";
}

.evi-calendar-item:before {
	content: "\E049";
}

.evi-calendar-minus-o:before {
	content: "\E04A";
}

.evi-calendar-minus:before {
	content: "\E04B";
}

.evi-calendar-month-o:before {
	content: "\E04C";
}

.evi-calendar-month:before {
	content: "\E04D";
}

.evi-calendar-pause-o:before {
	content: "\E04E";
}

.evi-calendar-pause:before {
	content: "\E04F";
}

.evi-calendar-pencil-o:before {
	content: "\E050";
}

.evi-calendar-pencil:before {
	content: "\E051";
}

.evi-calendar-play-o:before {
	content: "\E052";
}

.evi-calendar-play:before {
	content: "\E053";
}

.evi-calendar-plus-o:before {
	content: "\E054";
}

.evi-calendar-plus:before {
	content: "\E055";
}

.evi-calendar-swap-o:before {
	content: "\E056";
}

.evi-calendar-swap:before {
	content: "\E057";
}

.evi-calendar-tick-o:before {
	content: "\E058";
}

.evi-calendar-tick:before {
	content: "\E059";
}

.evi-calendar-ticket-o:before {
	content: "\E05A";
}

.evi-calendar-ticket:before {
	content: "\E05B";
}

.evi-calendar-times-o:before {
	content: "\E05C";
}

.evi-calendar-times:before {
	content: "\E05D";
}

.evi-calendars-o:before {
	content: "\E05E";
}

.evi-calendars:before {
	content: "\E05F";
}

.evi-camera-o:before {
	content: "\E060";
}

.evi-camera:before {
	content: "\E061";
}

.evi-card-star-o:before {
	content: "\E062";
}

.evi-card-star:before {
	content: "\E063";
}

.evi-cards-o:before {
	content: "\E064";
}

.evi-cards:before {
	content: "\E065";
}

.evi-caret-compress:before {
	content: "\E066";
}

.evi-caret-down-o:before {
	content: "\E067";
}

.evi-caret-down:before {
	content: "\E068";
}

.evi-caret-expand:before {
	content: "\E069";
}

.evi-caret-left-o:before {
	content: "\E06A";
}

.evi-caret-left:before {
	content: "\E06B";
}

.evi-caret-right-o:before {
	content: "\E06C";
}

.evi-caret-right:before {
	content: "\E06D";
}

.evi-caret-up-o:before {
	content: "\E06E";
}

.evi-caret-up:before {
	content: "\E06F";
}

.evi-case-o:before {
	content: "\E070";
}

.evi-case:before {
	content: "\E071";
}

.evi-chart-area-o:before {
	content: "\E072";
}

.evi-chart-area:before {
	content: "\E073";
}

.evi-chart-bar-o:before {
	content: "\E074";
}

.evi-chart-bar:before {
	content: "\E075";
}

.evi-chart-line-o:before {
	content: "\E076";
}

.evi-chart-line:before {
	content: "\E077";
}

.evi-chart-pie-o:before {
	content: "\E078";
}

.evi-chart-pie:before {
	content: "\E079";
}

.evi-chat-o:before {
	content: "\E07A";
}

.evi-chat:before {
	content: "\E07B";
}

.evi-check-in-o:before {
	content: "\E07C";
}

.evi-check-in:before {
	content: "\E07D";
}

.evi-clipboard-compass-tool-o:before {
	content: "\E07E";
}

.evi-clipboard-compass-tool:before {
	content: "\E07F";
}

.evi-clipboard-o:before {
	content: "\E080";
}

.evi-clipboard-pencil-o:before {
	content: "\E081";
}

.evi-clipboard-pencil:before {
	content: "\E082";
}

.evi-clipboard-task-o:before {
	content: "\E083";
}

.evi-clipboard-task:before {
	content: "\E084";
}

.evi-clipboard-tasks-o:before {
	content: "\E085";
}

.evi-clipboard-tasks:before {
	content: "\E086";
}

.evi-clipboard-tick-o:before {
	content: "\E087";
}

.evi-clipboard-tick:before {
	content: "\E088";
}

.evi-clipboard:before {
	content: "\E089";
}

.evi-close:before {
	content: "\E08A";
}

.evi-cloud-download-o:before {
	content: "\E08B";
}

.evi-cloud-download:before {
	content: "\E08C";
}

.evi-cloud-eventob-o:before {
	content: "\E08D";
}

.evi-cloud-eventob:before {
	content: "\E08E";
}

.evi-cloud-o:before {
	content: "\E08F";
}

.evi-cloud-upload-o:before {
	content: "\E090";
}

.evi-cloud-upload:before {
	content: "\E091";
}

.evi-cloud:before {
	content: "\E092";
}

.evi-cog-o:before {
	content: "\E093";
}

.evi-cog:before {
	content: "\E094";
}

.evi-color-catalog-gear-o:before {
	content: "\E095";
}

.evi-color-catalog-gear:before {
	content: "\E096";
}

.evi-color-catalog-o:before {
	content: "\E097";
}

.evi-color-catalog:before {
	content: "\E098";
}

.evi-comment-o:before {
	content: "\E099";
}

.evi-comment:before {
	content: "\E09A";
}

.evi-compass-tool-o:before {
	content: "\E09B";
}

.evi-compass-tool:before {
	content: "\E09C";
}

.evi-compress:before {
	content: "\E09D";
}

.evi-contact-card-o:before {
	content: "\E09E";
}

.evi-contact-card:before {
	content: "\E09F";
}

.evi-credit-card-o:before {
	content: "\E0A0";
}

.evi-credit-card:before {
	content: "\E0A1";
}

.evi-discount-badge-o:before {
	content: "\E0A2";
}

.evi-discount-badge:before {
	content: "\E0A3";
}

.evi-dollar:before {
	content: "\E0A4";
}

.evi-dots:before {
	content: "\E0A5";
}

.evi-down:before {
	content: "\E0A6";
}

.evi-download-o:before {
	content: "\E0A7";
}

.evi-download:before {
	content: "\E0A8";
}

.evi-downward:before {
	content: "\E0A9";
}

.evi-drag:before {
	content: "\E0AA";
}

.evi-duplicate-o:before {
	content: "\E0AB";
}

.evi-duplicate:before {
	content: "\E0AC";
}

.evi-ellipses-horizontal:before {
	content: "\E0AD";
}

.evi-ellipses-vertical:before {
	content: "\E0AE";
}

.evi-end:before {
	content: "\E0AF";
}

.evi-enter:before {
	content: "\E0B0";
}

.evi-envelope-o:before {
	content: "\E0B1";
}

.evi-envelope-send-o:before {
	content: "\E0B2";
}

.evi-envelope-send-ticket-o:before {
	content: "\E0B3";
}

.evi-envelope-send-ticket:before {
	content: "\E0B4";
}

.evi-envelope-send:before {
	content: "\E0B5";
}

.evi-envelope-ticket-o:before {
	content: "\E0B6";
}

.evi-envelope-ticket:before {
	content: "\E0B7";
}

.evi-envelope:before {
	content: "\E0B8";
}

.evi-envelopes-send-o:before {
	content: "\E0B9";
}

.evi-envelopes-send:before {
	content: "\E0BA";
}

.evi-eventob-logo:before {
	content: "\E0BB";
}

.evi-eventob-symbol:before {
	content: "\E0BC";
}

.evi-exclamation-fat:before {
	content: "\E0BD";
}

.evi-exclamation:before {
	content: "\E0BE";
}

.evi-expand:before {
	content: "\E0BF";
}

.evi-eye-o:before {
	content: "\E0C0";
}

.evi-eye:before {
	content: "\E0C1";
}

.evi-eyedropper-o:before {
	content: "\E0C2";
}

.evi-eyedropper:before {
	content: "\E0C3";
}

.evi-faq-gear-o:before {
	content: "\E0C4";
}

.evi-faq-gear:before {
	content: "\E0C5";
}

.evi-faq-o:before {
	content: "\E0C6";
}

.evi-faq:before {
	content: "\E0C7";
}

.evi-file-blank-o:before {
	content: "\E0C8";
}

.evi-file-blank:before {
	content: "\E0C9";
}

.evi-file-copy-o:before {
	content: "\E0CA";
}

.evi-file-copy:before {
	content: "\E0CB";
}

.evi-file-csv-o:before {
	content: "\E0CC";
}

.evi-file-csv-upload:before {
	content: "\E0CD";
}

.evi-file-csv:before {
	content: "\E0CE";
}

.evi-file-download:before {
	content: "\E0CF";
}

.evi-file-gif-o:before {
	content: "\E0D0";
}

.evi-file-gif:before {
	content: "\E0D1";
}

.evi-file-image-o:before {
	content: "\E0D2";
}

.evi-file-image:before {
	content: "\E0D3";
}

.evi-file-jpg-o:before {
	content: "\E0D4";
}

.evi-file-jpg:before {
	content: "\E0D5";
}

.evi-file-o:before {
	content: "\E0D6";
}

.evi-file-pdf-o:before {
	content: "\E0D7";
}

.evi-file-pdf:before {
	content: "\E0D8";
}

.evi-file-png-o:before {
	content: "\E0D9";
}

.evi-file-png:before {
	content: "\E0DA";
}

.evi-file-svg-o:before {
	content: "\E0DB";
}

.evi-file-svg-upload-o:before {
	content: "\E0DC";
}

.evi-file-svg:before {
	content: "\E0DD";
}

.evi-file-upload-o:before {
	content: "\E0DE";
}

.evi-file-upload:before {
	content: "\E0DF";
}

.evi-file-xml-o:before {
	content: "\E0E0";
}

.evi-file-xml-upload-o:before {
	content: "\E0E1";
}

.evi-file-xml-upload:before {
	content: "\E0E2";
}

.evi-file-xml:before {
	content: "\E0E3";
}

.evi-file:before {
	content: "\E0E4";
}

.evi-flag-o:before {
	content: "\E0E5";
}

.evi-flag:before {
	content: "\E0E6";
}

.evi-floppy-o:before {
	content: "\E0E7";
}

.evi-floppy:before {
	content: "\E0E8";
}

.evi-folder-o:before {
	content: "\E0E9";
}

.evi-folder-open-o:before {
	content: "\E0EA";
}

.evi-folder-open-star-o:before {
	content: "\E0EB";
}

.evi-folder-open-star:before {
	content: "\E0EC";
}

.evi-folder-open:before {
	content: "\E0ED";
}

.evi-folder:before {
	content: "\E0EE";
}

.evi-forward:before {
	content: "\E0EF";
}

.evi-funnel-o:before {
	content: "\E0F0";
}

.evi-funnel:before {
	content: "\E0F1";
}

.evi-gear-o:before {
	content: "\E0F2";
}

.evi-gear:before {
	content: "\E0F3";
}

.evi-globe-o:before {
	content: "\E0F4";
}

.evi-globe:before {
	content: "\E0F5";
}

.evi-hashtag-fat:before {
	content: "\E0F6";
}

.evi-hashtag:before {
	content: "\E0F7";
}

.evi-headset-o:before {
	content: "\E0F8";
}

.evi-headset:before {
	content: "\E0F9";
}

.evi-hearth-o:before {
	content: "\E0FA";
}

.evi-hearth:before {
	content: "\E0FB";
}

.evi-hide-o:before {
	content: "\E0FC";
}

.evi-hide:before {
	content: "\E0FD";
}

.evi-home-o:before {
	content: "\E0FE";
}

.evi-home:before {
	content: "\E0FF";
}

.evi-icons-search-o:before {
	content: "\E100";
}

.evi-icons-search:before {
	content: "\E101";
}

.evi-italic:before {
	content: "\E102";
}

.evi-laptop-expand-o:before {
	content: "\E103";
}

.evi-laptop-expand:before {
	content: "\E104";
}

.evi-laptop-mobile-gear-o:before {
	content: "\E105";
}

.evi-laptop-mobile-gear:before {
	content: "\E106";
}

.evi-laptop-mobile-o:before {
	content: "\E107";
}

.evi-laptop-mobile:before {
	content: "\E108";
}

.evi-laptop-o:before {
	content: "\E109";
}

.evi-laptop:before {
	content: "\E10A";
}

.evi-left:before {
	content: "\E10B";
}

.evi-link:before {
	content: "\E10C";
}

.evi-list-bullet:before {
	content: "\E10D";
}

.evi-list-ul:before {
	content: "\E10E";
}

.evi-list-users-o:before {
	content: "\E10F";
}

.evi-list-users:before {
	content: "\E110";
}

.evi-list-vertical:before {
	content: "\E111";
}

.evi-list:before {
	content: "\E112";
}

.evi-location-arrow-o:before {
	content: "\E113";
}

.evi-location-arrow:before {
	content: "\E114";
}

.evi-magnify-o:before {
	content: "\E115";
}

.evi-magnify:before {
	content: "\E116";
}

.evi-megaphone-o:before {
	content: "\E117";
}

.evi-megaphone:before {
	content: "\E118";
}

.evi-minus:before {
	content: "\E119";
}

.evi-mobile-cog-o:before {
	content: "\E11A";
}

.evi-mobile-cog:before {
	content: "\E11B";
}

.evi-mobile-o:before {
	content: "\E11C";
}

.evi-mobile:before {
	content: "\E11D";
}

.evi-modal-o:before {
	content: "\E11E";
}

.evi-modal:before {
	content: "\E11F";
}

.evi-newspaper-o:before {
	content: "\E120";
}

.evi-newspaper:before {
	content: "\E121";
}

.evi-orbit-o:before {
	content: "\E122";
}

.evi-orbit:before {
	content: "\E123";
}

.evi-pause:before {
	content: "\E124";
}

.evi-pencil-o:before {
	content: "\E125";
}

.evi-pencil:before {
	content: "\E126";
}

.evi-phone-o:before {
	content: "\E127";
}

.evi-phone:before {
	content: "\E128";
}

.evi-picture-expand-o:before {
	content: "\E129";
}

.evi-picture-expand:before {
	content: "\E12A";
}

.evi-picture-o:before {
	content: "\E12B";
}

.evi-picture:before {
	content: "\E12C";
}

.evi-pictures-o:before {
	content: "\E12D";
}

.evi-pictures:before {
	content: "\E12E";
}

.evi-pin-map-o:before {
	content: "\E12F";
}

.evi-pin-map:before {
	content: "\E130";
}

.evi-pin-o:before {
	content: "\E131";
}

.evi-pin:before {
	content: "\E132";
}

.evi-play:before {
	content: "\E133";
}

.evi-plus:before {
	content: "\E134";
}

.evi-power-off:before {
	content: "\E135";
}

.evi-printer-o:before {
	content: "\E136";
}

.evi-printer:before {
	content: "\E137";
}

.evi-qr-code:before {
	content: "\E138";
}

.evi-question-fat:before {
	content: "\E139";
}

.evi-question:before {
	content: "\E13A";
}

.evi-repeat:before {
	content: "\E13B";
}

.evi-reset:before {
	content: "\E13C";
}

.evi-right:before {
	content: "\E13D";
}

.evi-rocket-o:before {
	content: "\E13E";
}

.evi-rocket:before {
	content: "\E13F";
}

.evi-screen-bouy-o:before {
	content: "\E140";
}

.evi-screen-bouy:before {
	content: "\E141";
}

.evi-screen-browser-layout-1-o:before {
	content: "\E142";
}

.evi-screen-browser-layout-1:before {
	content: "\E143";
}

.evi-screen-browser-layout-2-o:before {
	content: "\E144";
}

.evi-screen-browser-layout-2:before {
	content: "\E145";
}

.evi-screen-browser-layout-3-o:before {
	content: "\E146";
}

.evi-screen-browser-layout-3:before {
	content: "\E147";
}

.evi-screen-browser-o:before {
	content: "\E148";
}

.evi-screen-browser:before {
	content: "\E149";
}

.evi-screen-cog-o:before {
	content: "\E14A";
}

.evi-screen-cog:before {
	content: "\E14B";
}

.evi-screen-eventob-o:before {
	content: "\E14C";
}

.evi-screen-eventob:before {
	content: "\E14D";
}

.evi-screen-live-o:before {
	content: "\E14E";
}

.evi-screen-live:before {
	content: "\E14F";
}

.evi-screen-mobile-gear-o:before {
	content: "\E150";
}

.evi-screen-mobile-gear:before {
	content: "\E151";
}

.evi-screen-mobile-o:before {
	content: "\E152";
}

.evi-screen-mobile:before {
	content: "\E153";
}

.evi-screen-o:before {
	content: "\E154";
}

.evi-screen-pencil-o:before {
	content: "\E155";
}

.evi-screen-pencil:before {
	content: "\E156";
}

.evi-screen-play-o:before {
	content: "\E157";
}

.evi-screen-play:before {
	content: "\E158";
}

.evi-screen-user-o:before {
	content: "\E159";
}

.evi-screen-user:before {
	content: "\E15A";
}

.evi-screen-wrench-o:before {
	content: "\E15B";
}

.evi-screen-wrench:before {
	content: "\E15C";
}

.evi-screen:before {
	content: "\E15D";
}

.evi-send-o:before {
	content: "\E15E";
}

.evi-send:before {
	content: "\E15F";
}

.evi-share-o:before {
	content: "\E160";
}

.evi-share:before {
	content: "\E161";
}

.evi-sheet-blank-o:before {
	content: "\E162";
}

.evi-sheet-blank:before {
	content: "\E163";
}

.evi-sheet-bouy-o:before {
	content: "\E164";
}

.evi-sheet-bouy:before {
	content: "\E165";
}

.evi-sheet-faq-o:before {
	content: "\E166";
}

.evi-sheet-faq:before {
	content: "\E167";
}

.evi-sheet-o:before {
	content: "\E168";
}

.evi-sheet-setup-o:before {
	content: "\E169";
}

.evi-sheet-setup:before {
	content: "\E16A";
}

.evi-sheet:before {
	content: "\E16B";
}

.evi-sliders-o:before {
	content: "\E16C";
}

.evi-sliders:before {
	content: "\E16D";
}

.evi-social-o:before {
	content: "\E16E";
}

.evi-social:before {
	content: "\E16F";
}

.evi-sort-horizontal:before {
	content: "\E170";
}

.evi-sort-vertical:before {
	content: "\E171";
}

.evi-speaker-o:before {
	content: "\E172";
}

.evi-speaker:before {
	content: "\E173";
}

.evi-square-round-o:before {
	content: "\E174";
}

.evi-square-round:before {
	content: "\E175";
}

.evi-star-o:before {
	content: "\E176";
}

.evi-star:before {
	content: "\E177";
}

.evi-start-banner-o:before {
	content: "\E178";
}

.evi-start-banner:before {
	content: "\E179";
}

.evi-stop-o:before {
	content: "\E17A";
}

.evi-stop:before {
	content: "\E17B";
}

.evi-tag-bind-o:before {
	content: "\E17C";
}

.evi-tag-bind:before {
	content: "\E17D";
}

.evi-tag-blank-horizontal-o:before {
	content: "\E17E";
}

.evi-tag-blank-horizontal:before {
	content: "\E17F";
}

.evi-tag-blank-o:before {
	content: "\E180";
}

.evi-tag-blank:before {
	content: "\E181";
}

.evi-tag-o:before {
	content: "\E182";
}

.evi-tag-search-o:before {
	content: "\E183";
}

.evi-tag-search:before {
	content: "\E184";
}

.evi-tag-vertical-blank-o:before {
	content: "\E185";
}

.evi-tag-vertical-blank:before {
	content: "\E186";
}

.evi-tag-vertical-o:before {
	content: "\E187";
}

.evi-tag-vertical:before {
	content: "\E188";
}

.evi-tag:before {
	content: "\E189";
}

.evi-tags-o:before {
	content: "\E18A";
}

.evi-tags:before {
	content: "\E18B";
}

.evi-target-o:before {
	content: "\E18C";
}

.evi-target:before {
	content: "\E18D";
}

.evi-tick:before {
	content: "\E18E";
}

.evi-ticket-o:before {
	content: "\E18F";
}

.evi-ticket:before {
	content: "\E190";
}

.evi-tie-o:before {
	content: "\E191";
}

.evi-tie:before {
	content: "\E192";
}

.evi-time-dynamic-o:before {
	content: "\E193";
}

.evi-time-dynamic:before {
	content: "\E194";
}

.evi-time-o:before {
	content: "\E195";
}

.evi-time:before {
	content: "\E196";
}

.evi-timer-30-o:before {
	content: "\E197";
}

.evi-timer-30:before {
	content: "\E198";
}

.evi-timer-60-o:before {
	content: "\E199";
}

.evi-timer-60:before {
	content: "\E19A";
}

.evi-timer-pencil-o:before {
	content: "\E19B";
}

.evi-timer-pencil:before {
	content: "\E19C";
}

.evi-toolbox-o:before {
	content: "\E19D";
}

.evi-toolbox:before {
	content: "\E19E";
}

.evi-top:before {
	content: "\E19F";
}

.evi-trash-o:before {
	content: "\E1A0";
}

.evi-trash:before {
	content: "\E1A1";
}

.evi-undo:before {
	content: "\E1A2";
}

.evi-unlink:before {
	content: "\E1A3";
}

.evi-up:before {
	content: "\E1A4";
}

.evi-upload-o:before {
	content: "\E1A5";
}

.evi-upload:before {
	content: "\E1A6";
}

.evi-upward:before {
	content: "\E1A7";
}

.evi-user-o:before {
	content: "\E1A8";
}

.evi-user:before {
	content: "\E1A9";
}

.evi-wrench-o:before {
	content: "\E1AA";
}

.evi-wrench:before {
	content: "\E1AB";
}

.evi-your-logo-horizontal-n:before {
	content: "\E1AC";
}

.evi-your-logo-horizontal:before {
	content: "\E1AD";
}

.evi-your-logo-n:before {
	content: "\E1AE";
}

.evi-your-logo-symbol-n:before {
	content: "\E1AF";
}

.evi-your-logo-symbol:before {
	content: "\E1B0";
}

.evi-your-logo:before {
	content: "\E1B1";
}
