@font-face {
	font-family: "reedsy";
	src: url("../fonts/reedsy/reedsy.eot");
  src: url("../fonts/reedsy/reedsy.eot#iefix") format("embedded-opentype"),
       url("../fonts/reedsy/reedsy.ttf") format("truetype"),
       url("../fonts/reedsy/reedsy.woff") format("woff"),
       url("../fonts/reedsy/reedsy.svg#reedsy") format("svg");
	font-weight: normal;
	font-style: normal;
}

i.ree {
	display: inline-block;
	font-family: "reedsy"!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: middle;
	margin-top: -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.ree-arrow-down:before {
	content: "\E001";
}

.ree-arrow-left:before {
	content: "\E002";
}

.ree-arrow-right:before {
	content: "\E003";
}

.ree-arrow-up:before {
	content: "\E004";
}

.ree-bookmark:before {
	content: "\E005";
}

.ree-calendar:before {
	content: "\E006";
}

.ree-down:before {
	content: "\E007";
}

.ree-first:before {
	content: "\E008";
}

.ree-folder:before {
	content: "\E009";
}

.ree-hamburger:before {
	content: "\E00A";
}

.ree-header:before {
	content: "\E00B";
}

.ree-hearth:before {
	content: "\E00C";
}

.ree-last:before {
	content: "\E00D";
}

.ree-left:before {
	content: "\E00E";
}

.ree-list:before {
	content: "\E00F";
}

.ree-magnifier:before {
	content: "\E010";
}

.ree-reedsy:before {
	content: "\E011";
}

.ree-reverse-h:before {
	content: "\E012";
}

.ree-reverse-v:before {
	content: "\E013";
}

.ree-right:before {
	content: "\E014";
}

.ree-slider:before {
	content: "\E015";
}

.ree-times:before {
	content: "\E016";
}

.ree-up:before {
	content: "\E017";
}

.ree-user:before {
	content: "\E018";
}
